#homepage {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  min-height: 100vh;
}

#homepage-header {
  border: solid black 2px;
  width: 100%;
}

#homepage-main-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid black 2px;
  width: 100%;
  /* padding-bottom: 100px; */
}

#homepage-body {
  border: solid black 2px;
  padding: 20px;
  margin: 20px;
}

#homepage-sections {
  border: solid black 2px;
  padding: 20px;
  margin: 20px;
}

#homepage-student-section {
  padding: 20px;
  border: black solid 2px;
}

#homepage-landlord-section {
  padding: 20px;
  border: black solid 2px;
}

#homepage-footer {
  border: solid black 2px;
  width: 100%;
  height: 100px;
  margin: 10px;
}